.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--grey-2);
  padding: 20px;
  font-size: 14px;
  width: 90%;
  height: 330px;
  border-radius: var(--radius-03);
  margin-left: 20px;
}
.form label,
.input-value {
  margin-bottom: 15px;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
}
#description {
  width: 100%;
  height: 46px;
  border: none;
  background-color: var(--grey-1);
  border-radius: var(--radius-02);
  padding-left: 10px;
}
.input-value {
  width: 80%;
  height: 46px;
  border: none;
  background-color: var(--grey-1);
  border-radius: var(--radius-02);
  padding-left: 10px;
}
.select-entries {
  width: 100%;
  height: 46px;
  border: none;
  background-color: var(--grey-1);
  border-radius: var(--radius-02);
  padding-left: 10px;
  padding-right: 80px;
}
.sugestion {
  color: var(--grey-3);
  margin-bottom: 20px;
}
.button-send {
  width: 100%;
  height: 46px;
  border: none;
  border-radius: var(--radius-02);
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
}
.button-send:hover {
  background-color: var(--color-primary-2);
}
.rs {
  transform: translate(100px, -45px);
  font-size: var(--font-size-2);
}
